.deps/
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
alerts.txt
report.xml
configure
depcomp
install-sh
*.h.in~
libpq_example
libpq_example.o
missing
stamp-h1
